@charset "utf-8";
/* cgv pj 공통핵심 css - core.css */
/* -> 웹폰트, 공용공통클래스  */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@1,800&display=swap');


/* 
    font-family: 'Noto Sans Display', sans-serif;
    Noto Sans Display
    Extra-light 200
    Extra-light 200 italic
    Medium 500
    Medium 500 italic
    Semi-bold 600
    Bold 700
*/

/* IR(Image Replacement)클래스 */
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}